/*/////////////////////////////// Obligatoire Don't touch ///////////////////////////////*/
html,body,h1,h2,h3,p,header,footer,ul,li{
   padding: 0; margin: 0;
}.show_mob{
    display:none;
}#menu_mob{
    float: right;
    width:70px;
    height: 70px;
    background-color: #8bffce;
}.flotL_mob{
    float: left;
}.flotR_mob{
    float: right;
}
@media (max-device-width:768px) and (orientation: landscape){
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}}@media (max-width: 640px){*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{width:auto}table,td,blockquote,code,pre,textarea,input,iframe,object,embed,video{max-width:100%}textarea,table,td,th,code,pre,samp{-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;word-wrap:break-word}code,pre,samp{white-space:pre-wrap}}
/*/////////////////////////////// RESPONSIVE ///////////////////////////////*/
    /*/////////////////////////////// iphone en vue portrait/paysage ///////////////////////////////*/
@media screen and (max-device-width: 640px) {
    #container{
        padding-bottom: 30px;
        width: 95%;
    }
    .hide_mob { /*/// DON'T TOUCH ///*/
        display: none !important;
        display: none;
    }
    .show_mob{ /*/// DON'T TOUCH ///*/
        display: block !important;
        display: block;
    }
    .flotL_mob,.flotR_mob{ /*/// DON'T TOUCH ///*/
        float: none;
        margin: 0 auto;
    }
}@media (max-width: 640px) {
    #container{
        padding-bottom: 30px;
        width: 95%;
    }
}
    /*////////////////////
    background-color en \écran NORMAL/ SI DIFFERENT RESPONSIVE (sinon dans code normal)
    ////////////////////*/
@media only screen and (min-device-width: 640px) {
    html, body{
    }
}@media (min-width: 640px) {
    html, body{
    }
}
    /*////////////////////
    background-color en \écran IPHONE/ SI DIFFERENT RESPONSIVE (sinon dans code normal)
    ///////////////////////*/
@media only screen and (max-device-width: 639px){
    html, body{
    }
}@media (max-width: 639px){
    html, body{
    }
}
     /*////////////////////
    font-face generator http://everythingfonts.com/font-face puis compresser le code http://csscompressor.com/
    ////////////////////*/
@font-face{font-family:'CenturyGothicRegular';src:url(police/centurygothic/centurygothic.eot);src:url(police/centurygothic/centurygothic.eot) format("embedded-opentype"),url(police/centurygothic/centurygothic.woff2) format("woff2"),url(police/centurygothic/centurygothic.woff) format("woff"),url(police/centurygothic/centurygothic.ttf) format("truetype"),url(police/centurygothic/centurygothic.svg#CenturyGothicRegular) format("svg");font-weight:400;font-style:normal}
