@font-face {
    font-family:'LobsterTwo-BoldItalic';
    src: url("/fonts/LobsterTwo-BoldItalic.otf");
}

@font-face {
    font-family:'KaushanScript-Regular';
    src: url("/fonts/KaushanScript-Regular.otf");
}

@font-face {
    font-family:'ASTONISHED';
    src: url("/fonts/ASTONISHED.TTF");
}
