*{
  cursor: url("css/thorcur1.png"), pointer;
}

*:active{
  cursor: url("css/thorcur7.png"), pointer;
}

a
{
  text-decoration: none;
  font-family: ASTONISHED, Arial, "Times New Roman";
  color: rgba(26,55,95,1);
  font-size:50px;
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

a:hover
{
    color: #060200;
}

body{
  background-color:#112B7A;
  background: url("img/blue2.png");

}

#top{
	height:31px;
}

#page{
	width:650px;
}

h1
{
    color: rgba(26,55,95,1);
    font-family: ASTONISHED, LobsterTwo-BoldItalic, Arial, "Times New Roman";
    font-weight:normal;
    text-transform:uppercase;
    text-align: center;
    font-size: 50px;
}

body #page h1{
  margin:5%;
}

h2 {
	fcolor: rgba(26,55,95,1);
	font-family: ASTONISHED, Arial, "Times New Roman";
	font-weight:normal;
	text-transform:uppercase;
	text-align: center;
	font-size: 30px;
}

#container{
  background: url("img/telecom.png");
  background-size: cover;
	width:640px;
	height:400px;
	margin:50px auto;
	border:5px solid #fff;
	overflow:hidden;

	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#container ul{
	list-style:none;
}

#page{
	width: 660px;
	margin:0 auto;
	border-top:1px solid transparent;
}



footer
{
    width:100%;
    height:100px;
    position:relative;
    top:650px;
    border-top:2px solid #3D5F8F;
}
