#owl-demo{
  width: 640px;
  margin: 0 auto;
  .item img{
    display: block;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  #owl-demo{
    width: 500px;
    .item img{
        width: 500px;
        height: 100%;
    }
  }
}
