<header>
  <div id="social" class="hide_mob">
    <a href="#" target="blank" class="fb"></a>
    <a href="#" target="blank" class="in"></a>
    <a href="#" class="twit"></a>
    <a href="#" class="youtube"></a>
  </div>
  <div id="logo"></div>
  <div id="menu" class="hide_mob">
    <a class="accueil" href="index.html"></a>
    <ul>
      <li><a href="presentation.html">Présentation</a></li>
      <li><a href="programme.html">Programme</a></li>
      <li><a href="pougnes.html">Pougnes</a></li>
      <li><a href="fun.html">Fun</a></li>
      <li><a href="sponsors.html">Partenaires</a></li>
    </ul>
  </div>
</header>
