<!DOCTYPE html>

<html lang="fr">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- adaptation mobile -->
  <title>Shockwave</title>
  <meta name=description content="Bureau des élèves de l'école d'ingénieur Télécom SudParis et de l'école Télécom Ecole de Management" /> <!-- description référencement -->
  <meta name=keywords content="Shockwave, BDE , association, élèves, école, ingénieur, télécom, institut, management, sud-paris, SudParis, INT" /> <!-- mot-clés réf -->
  <meta property="og:title" content="Titre du site pour facebook" />
  <meta property="og:type" content="website" /> <!-- De quoi il s'agit -->
  <meta property="og:url" content="index.html" /> <!-- cette page.html -->
  <meta property="og:image" content="/images/image1.jpg" /> <!-- image facebook -->
  <meta property="og:description" content="Descitpion sympathique pour facebook" />
  <meta name=robots content="index, follow" /> <!-- Indexation de la page sur google sinon noindex, nofollow -->
  <link rel="icon" type="image/png" href="images/favicon.png" />  <!-- image à coté du nom de domaine -->
  <link rel="stylesheet" type="text/css"  href="main.css"/>



  <head>

    <body>

      <div id="container">
        <header>
          <div id="social" class="hide_mob">
            <a href="https://www.facebook.com/" target="blank" class="fb"></a>
            <a href="https://www.youtube.com/" class="youtube"></a>
          </div>
          <div id="logo"></div>
          <div id="menu" class="hide_mob">
            <a class="accueil" href="index.html"></a>
            <ul>
              <li><a href="presentation.html">Présentation</a></li>
              <li><a href="programme.html">Programme</a></li>
              <li><a href="fun.html">Photos/Vidéos</a></li>
            </ul>
          </div>
        </header>

        <div id="contenu">
          <div class="blocG flotL_mob">
            <div class="interface">
              <div class="image"></div>
              <h1 id="titre">Bienvenue sur le site de Shockwave liste BDE de Telecom Ecole de Management et Telecom SudParis!</h1><br/>
              <p>Nous sommes heureux de vous présenter notre site web où vous pourrez
                découvrir qui nous sommes et nos projets pour l'INT.
              </p>
              <p> Alors n'hésitez pas et cliquez sur la page PRESENTATION pour en apprendre plus
                sur nos membres. Dans la page PROGRAMME est décrit ce que nous comptons
                réaliser pour les élèves si nous sommes élus. Et enfin, restez au courant de nos
                activités dans la section PHOTOS/VIDEOS !
              </p>
              <p> Notre site web s'étoffera avec le temps au fur et à mesure des différents événements.
                <p>Nous vous souhaitons une agréable visite !</p>
              </p>
            </div>
          </div>
          <div class="blocD flotL_mob">
            <div class="news News" style="margin-top:40px;"><h1 >News</h1><br/>
              <ul class="plop">
                <li>Trailer/Site/Programme: 19/01/2015</li>
                <li>Campagne BDE: 04/02/2015</li>
              </ul>
            </div>
            <div class="news Liens" style="margin-top:40px;"><h1>Liens Utiles</h1><br/>
              <ul>
                <li><a href="https://www.dropbox.com/sh/fh3z7ypd6o2apl8/AAB7YDjYwEEYQMjCOIuodcCya?dl=0">Pougnes TEM</a></li><br/>
                <li><a href="https://www.dropbox.com/sh/aqtspf7so8wzhdw/AAChjCmo77zN6txYnN5yg1Goa?dl=0">Pougnes TSP</a></li><br/>
                <li><a href="http://ecampus.tem-tsp.eu/">Ecampus</a></li><br/>
                <li><a href="https://cas.tem-tsp.eu/cas/login?service=https%3A%2F%2Fidpmt.tem-tsp.eu%2Fidp%2FAuthn%2FRemoteUser">Zimbra</a></li><br/>
                <li><a href="http://associations.it-sudparis.eu/">Associations</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id=footer>
        &copy; 2015 Tous droits réservés Shockwave
      </div>





      <!-- SCRIPT -->
      <script>
      var cb=function(){var l=document.createElement('link');l.rel='stylesheet';l.href='css/style.css';var h=document.getElementsByTagName('head')[0];h.parentNode.insertBefore(l,h)};var raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;if(raf)raf(cb);else window.addEventListener('load',cb);
      </script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//cdn.jsdelivr.net/jquery.jcanvas/13.04.26/jcanvas.min.js"></script>

    </body>

    </html>
