<!DOCTYPE html>

<html lang="fr">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- adaptation mobile -->
  <title>Shockwave</title>
  <meta name=description content="BLABLABLA" /> <!-- description référencement -->
  <meta name=keywords content="keyword1, keyword2, keyword3, etc" /> <!-- mot-clés réf -->
  <meta property="og:title" content="Titre du site pour facebook" />
  <meta property="og:type" content="website" /> <!-- De quoi il s'agit -->
  <meta property="og:url" content="index.html" /> <!-- cette page.html -->
  <meta property="og:image" content="/images/image1.jpg" /> <!-- image facebook -->
  <meta property="og:description" content="Descitpion sympathique pour facebook" />
  <meta name=robots content="index, follow" /> <!-- Indexation de la page sur google sinon noindex, nofollow -->

  <link rel="icon" type="image/png" href="images/favicon.png" />  <!-- image à coté du nom de domaine -->
  <link rel="stylesheet" type="text/css" href="presentation.css" />
  <link rel="stylesheet" type="text/css" href="assets/jquery.shutter/jquery.shutter.css" />




</head>

<body>
      <div id="blob">
        <header>
          <div id="social" class="hide_mob">
            <a href="https://www.facebook.com/" target="blank" class="fb"></a>
            <a href="https://www.youtube.com/" class="youtube"></a>
          </div>
          <div id="logo"></div>
          <div id="menu" class="hide_mob">
            <a class="accueil" href="index.html"></a>
            <ul>
              <li><a href="presentation.html">Présentation</a></li>
              <li><a href="programme.html">Programme</a></li>
              <li><a href="fun.html">Photos/Vidéos</a></li>
            </ul>
          </div>
        </header>

        <div id="container">
          <ul>
            <li><img title="logo" src="css/img/logo.png" width="640" height="400" alt="Landscape" /></li>
            <li><img title="Leo" src="css/img/leo.png" width="640" height="400" alt="test" /></li>
            <li><img title="Adrien" src="css/img/adrien.png" width="640" height="400" alt="test" /></li>
            <li><img title="Ali B" src="css/img/alib.png" width="640" height="400" alt="test" /></li>
            <li><img title="Mehdi" src="css/img/mehdi.png" width="640" height="400" alt="test" /></li>
            <li><img title="Flavien" src="css/img/flavien.png" width="640" height="400" alt="test" /></li>
            <li><img title="Allan" src="css/img/allan.png" width="640" height="400" alt="test" /></li>
            <li><img title="Rokia" src="css/img/rokia.png" width="640" height="400" alt="test" /></li>
            <li><img title="Quentin" src="css/img/quentin.png" width="640" height="400" alt="test" /></li>
            <li><img title="Anaïs" src="css/img/anais.png" width="640" height="400" alt="test" /></li>
            <li><img title="Arunson" src="css/img/arunson.png" width="640" height="400" alt="test" /></li>
            <li><img title="Zakaria" src="css/img/zak.png" width="640" height="400" alt="test" /></li>
            <li><img title="Jessica" src="css/img/jess.png" width="640" height="400" alt="test" /></li>
            <li><img title="Victoria" src="css/img/victoria.png" width="640" height="400" alt="test" /></li>
            <li><img title="Amine" src="css/img/amine.png" width="640" height="400" alt="test" /></li>
            <li><img title="Amal" src="css/img/amal.png" width="640" height="400" alt="test" /></li>
            <li><img title="Damien" src="css/img/damien.png" width="640" height="400" alt="test" /></li>
            <li><img title="Khalil" src="css/img/khalil.png" width="640" height="400" alt="test" /></li>
            <li><img title="Sadok" src="css/img/sadok.png" width="640" height="400" alt="test" /></li>
            <li><img title="Selma" src="css/img/selma.png" width="640" height="400" alt="test" /></li>
            <li><img title="Teodora" src="css/img/teodora.png" width="640" height="400" alt="test" /></li>
            <li><img title="Samir" src="css/img/samir.png" width="640" height="400" alt="test" /></li>
            <li><img title="Ali G" src="css/img/alig.png" width="640" height="400" alt="test" /></li>
            <li><img title="Charlotte" src="css/img/charlotte.png" width="640" height="400" alt="test" /></li>
            <li><img title="Sarah" src="css/img/sarah.png" width="640" height="400" alt="test" /></li>
            <li><img title="Santosh" src="css/img/santosh.png" width="640" height="400" alt="test" /></li>
            <li><img title="Myriem" src="css/img/myriem.png" width="640" height="400" alt="test" /></li>
            <li><img title="Guillaume" src="css/img/guillaume.png" width="640" height="400" alt="test" /></li>
            <li><img title="Léa" src="css/img/léa.png" width="640" height="400" alt="test" /></li>
            <li><img title="Martina" src="css/img/martina.png" width="640" height="400" alt="test" /></li>
            <li><img title="Houssem" src="css/img/houssem.png" width="640" height="400" alt="test" /></li>
            <li><img title="Athyna" src="css/img/athyna.png" width="640" height="400" alt="test" /></li>
            <li><img title="Nicolas" src="css/img/nicolas.png" width="640" height="400" alt="test" /></li>
            <li><img title="Marin" src="css/img/marin.png" width="640" height="400" alt="test" /></li>
            <li><img title="Lucas" src="css/img/lucas.png" width="640" height="400" alt="test" /></li>
            <li><img title="Natan" src="css/img/natan.png" width="640" height="400" alt="test" /></li>
          </ul>
        </div>
      </div>
      <div id="footer">
          &copy; 2015 Tous droits réservés Shockwave
      </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <script src="assets/jquery.shutter/jquery.shutter.js"></script>
  <script src="assets/js/script.js"></script>
  <script>
  var cb=function(){var l=document.createElement('link');l.rel='stylesheet';l.href='css/style.css';var h=document.getElementsByTagName('head')[0];h.parentNode.insertBefore(l,h)};var raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;if(raf)raf(cb);else window.addEventListener('load',cb);
  </script>
  <script src="//cdn.jsdelivr.net/jquery.jcanvas/13.04.26/jcanvas.min.js"></script>

</body>

</html>
